
@media  (max-width: 1200px)
    .carousel
        .prev
                left: 20px 
        .next
            right: 20px


@media  (max-width: 991px)
    .promo
        padding: 21px 20px 93px 20px

    .advantages
        padding: 67px 20px 80px 20px
        &__item
            padding: 0 10px 0 10px

    .consultation
        padding: 100px 20px 92px 20px

    
    .carousel
        padding: 81px 20px  
        img
            width: 80%

    
    
@media  (max-width: 767px)
    .header
        padding-top: 20px
        display: flex 
        flex-direction: column
        &__logo
            width: 200px

        &__official
            margin-top: 20px

        &__contacts 
            margin-top: 20px

        &__phone
            margin-bottom: 10px


    .carousel
        padding: 60px 10px 
        button.prev, button.next
            display: none

        img
            width: 70%

    .promo
        min-height: 400px
        background: url(../img/first/mobile_bg.jpeg) center (center/cover) no-repeat 
        &__wrapper
            margin-top: 48px
            display: block

        &__header
            font-size: 20px
            text-align: center

        &__subheader
            font-size: 18px
            text-align: center

        &__icons
            width: 100%
            flex-direction: column
            align-items: center

        &__icon
            margin-top: 35px
            img
                margin-bottom: 10px

        &__link
            text-align: center

        .button
            &_main
                display: block
                margin: 0 auto
                margin-top: 60px
                width: 270px
                height: 45px
                font-size: 14px

    .advantages
        min-height: 400px
        padding: 40px 0 30px 0

        &_header
            font-size: 22px

        &__wrapper
            margin-top: 45px
            flex-direction: column
            align-items: center

        &__item
            padding: 0 10px 0 10px
            width: 80%
            margin-bottom: 50px

            span
                margin: 10px 0 10px 0


    .consultation
        min-height: 500px
        padding: 60px 0
        background: url('../img/consultation/consultation_mobile_bg.jpeg') center (center / cover) no-repeat
        .feed-form
            width: 60%
            margin: 0 auto
            margin-top: 36px
            input
                text-align: center
        .title_left
            text-align: center
            font-size: 25px
            br
                display: none
        &__descr
            text-align: center
            font-size: 17px
            margin-top: 20px

   
@media  (max-width: 575px)
    
    .consultation
        padding: 60px 20px
        min-height: 400px
        .feed-form
            width: 80%
            margin: 0 auto
            margin-top: 36px
            input
                text-align: left
        .title_left
            text-align: center
            font-size: 25px
            br
                display: none
        &__descr
            text-align: center
            font-size: 17px
            margin-top: 20px
